[run]
branch = True
source = autogen
omit =
  *test*
  *samples*
  autogen/agentchat/contrib/*
  setup_ag2.py
  setup_autogen.py
[report]
omit =
  *test*
  *samples*
  autogen/agentchat/contrib/*
  setup_ag2.py
  setup_autogen.py
