h1,
h2,
h3,
h4 {
  letter-spacing: 0.01em !important;
  --font-family-headings-custom: "Jersey 10" !important;
  text-transform: uppercase !important;
  font-weight: 400 !important;
}

h1 {
  font-size: 3rem !important;
}

h2 {
  font-size: 2.5rem !important;
}

h3 {
  font-size: 2rem !important;
}

h4 {
  font-size: 1.5rem !important;
}

#search-bar-entry {
  border-radius: 0 !important;
  height: 36px;
  background: #ffffff;
  border: 2px solid #000000;
  box-shadow: 2px 2px 0px rgba(62, 37, 13, 0.24);
}

#content-area {
  padding-top: 38px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 38px;
  background-color: rgba(0, 0, 0, 0.08);
  border-width: 0px 1px;
  border-style: solid;
  border-color: rgb(var(--gray-500) / 0.05);
  margin-left: 380px;
  margin-top: -2.5rem;

  width: calc(100% - 760px);

  @media screen and (max-width: 1200px) {
    margin-top: -2.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
  }
}

#topbar-cta-button {
  --font-family-headings-custom: "Jersey 10" !important;
  gap: 10px;
  isolation: isolate;
  font-family: var(
    --font-family-headings-custom,
    var(--font-inter, sans-serif)
  );
  font-size: 32px;
  font-weight: 400;
  color: #ffffff;
}
#topbar-cta-button > a > span {
  background: #000000 !important;
  border: 2px solid #ffffff !important;
  box-shadow: 2px 2px 0px rgba(62, 37, 13, 0.24) !important;
  border-radius: 0 !important;
}

#topbar-cta-button * {
  --font-family-headings-custom: "Jersey 10" !important;
  font-family: var(
    --font-family-headings-custom,
    var(--font-inter, sans-serif)
  );
  font-size: 20px;
}
